doctype html
html
  head
    title Shivam Dance Studio
    block scripts
    block style 
  body
    nav#nav  
        ul
            div.logo
                img(src="/statics/mainlogo.png")
                div.logo-content
                |SDS
            li #[a(href="/") Home] 
            li #[a(href="/contact") Contact Us]
            li #[a(href="/") About ]
            li #[a(href="/") Services]
    block content
    block foot
      #footer
       | Copyright © 2021 ShivamAcademy.com | All Rights Reserved